// Informs that this file is extending layout file
extends layout

// Bring in sharedHTMLfunctions include, which contains outputRating mixin
include _includes/sharedHTMLfunctions

block content
  // Start with page header
  .row.page-header
    .col-lg-12
      h1= title
  .row
    // Set up nested responsive columns needed for template
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(location.rating)
          p 125 High Street, Reading, RG6 1PS
          // One of several Bootstrap panel components used to define information areas, in this case opening hours
          .panel.panel-primary
            .panel-heading
              h2.panel-title Opening Hours
            .panel-body
              each time in location.openingTimes
                p
                  | #{time.days}
                  if time.closed
                    | closed
                  else
                    | #{time.opening} - #{time.closing}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              each facility in location.facilities
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp; #{facility}
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              // Use static Google Maps image, including coordinates in the query string 51.455041,-0.9690884
              img.img-responsive.img-rounded(src='./images/staticmap.png')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='location/review/new') Add review
              // Create link to Add Review page using Bootstrap’s button helper class
              h2.panel-title Customer reviews
            .panel-body.review-container
              each review in location.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor #{review.author}
                      small.reviewTimestamp
                        // Call mixin from its own line, passing creation date of review
                        +formatDate(review.createdOn)
                    .col-xs-12
                      p !{review.reviewText.replace(/\n/g, '<br/>')}
    // Final responsive column for sidebar contextual information
    .col-xs-12.col-md-3
      p.lead #{location.name} #{sidebar.context}
      p= sidebar.callToAction
